@use 'functions' as *;

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
$wide: 1920px;

@mixin mobile-only {
  @media (max-width: #{$mobile - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet) and (max-width: #{$laptop - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $wide) {
    @content;
  }
}

@mixin hover($hasActiveOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}