@use 'helpers' as *;

:root {
  --color-light: #ffffff;
  --color-black: #000000;
  --color-background: linear-gradient(94.87deg, #E52FB1 53.59%, #4043BC 84.59%);

  --font-family-base: 'Manrope Medium';

  --container-width: #{rem(1880)};
  --container-padding-x: #{rem(10)};

  --transition-duration: 0.2s;
}